

.hamburguer {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 2%;
    top: 2%;
}

.line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: red;
    margin-block: 5px;
    position: relative;
    border-radius: 4px;
    transition: transform .5s;
    opacity: .25s;
}

&.active .line:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
}

&.active .line:nth-child(2) {
    opacity: 0;
}

&.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
}




ul.nav-list {
    transition: max-height 0.5s ease-in-out, opacity 0.9s ease-in-out; /* Adicione uma transição suave */
    overflow: hidden; /* Certifique-se de ocnavtar o conteúdo que extrapola a altura máxima */
    list-style: none; /* Remova as marcações de lista padrão */
    padding: 0; 
}

ul.nav-list.visible {
    max-height: 500px; /* Altura máxima para exibição total do menu (ajuste conforme necessário) */
    opacity: 1; /* Opacidade máxima para tornar o menu visível */
}
