.educacao {
    width: 100%;
    height: 200px;
    border: 4px double #dec6c0;
    border-radius: 30px 30px 0 0;
    margin-top: 100px;
}

.educacao__card {    
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    position: relative;
    top: -100px;
}

.educacao__card--color {
    width: 49%;
    background: linear-gradient(175deg, #06e8d9 0%, #00020b 90%);
    border-radius: 12px;
}

.educacao__card--cont {
        background-color: #00020b;
        width: 99.4%;
        height: 200px;
        position: relative;
        margin: 1.8px; 
        border-radius: 82px 12px 12px 12px;
}

.educacao__card h4 {
    background-color: #00020b;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px;
    color: #dec6c0;
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #06e8d9 ;

    z-index: 1;
}

.cursos {
    list-style: none;
    color: #fff;
    font-size: 12px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 34px;
}

.cursos li {
    height: 20px;
}

.cursos svg {
    color: #06e8d9;
}

li:nth-child(5) svg {
    color: #e80624;
}

li:nth-child(6) svg {
    color: #e80624;
}

.text-objetivo {
    font-size: 12px;
}

p.text-objetivo {
    width: 336px;
    margin: 0 20px 0 auto;
    padding-top: 34px;
    line-height: 16.4px;
}

/* media screen  ----------------- */

@media screen and (max-width: 767px) {    
    .educacao {
        border: none;
    }

    .educacao__card {
        flex-direction: column;
        
    }

    .educacao__card--color {
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .educacao__card--cont {
        height: 250px;
    }

    .cursos {
        padding-top: 62px;
        width: 86%;
    }

    .cursos li {
        padding: 0 0 26px;
        font-size: 10px;
    }

    p.text-objetivo {
        width: 80%;
        font-size: 11px;

        padding-top: 64px;
    }

    .educacao__card h4 {
        width: 56px;
        height: 56px;
        font-size: 11px;
    }
}