
.border_footer {
    height: 4px;
    width: 70%;
    border-radius: 30px;
    margin: 0 auto;
    background-color: aquamarine;
}

footer {
    background-color: rgb(0,0,0,0.8);  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    height: 250px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 8px auto;
}

footer .contact {
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 8px auto;
}

footer svg {
    height: 24px;
    width: 24px;
    color:  #EFF1EA;
    transition: transform ease 0.5s;
}

footer svg:hover {
    transform: scale(1.4);
}

footer p {
    color:  #EFF1EA;
    margin: 40px 0 10px;
}

footer .actual-text {
    color: aquamarine;
    box-shadow: 0 0 8px rgb(9, 9, 9);
    border-radius: 30px;
    padding: 2px 6px 4px;
} 

footer .actual-text:hover {
    box-shadow: none;
    cursor: pointer;
}

footer > ul:nth-child(1) {
    padding: 8px;
    height: 40px;
    align-items: center;
    border-radius: 30px;
}

.number-tell {
    color: #EFF1EA;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
}

.number-tell svg {
    width: 18px;
    margin-right: 4px;
}


@media screen and (max-width: 767px) {

    footer ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 88%;
        margin: 8px auto;
    }

    .contato-comigo {
        margin: 0 auto;
    }

    form {
        width: 80%;
        margin: 0 auto;
    }
}

form {
    width: 360px;
    margin: 0 auto;
}

.borderInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #EFF1EA;
    color: #EFF1EA;
}

.borderInput:focus {
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 4px; /* Largura da scrollbar (WebKit) */
}

textarea::-webkit-scrollbar-thumb {
    background-color: aquamarine; /* Cor da thumb (WebKit) */
    border-radius: 4px; /* Borda arredondada da thumb (WebKit) */
}

textarea::-webkit-scrollbar-track {
    background-color: rgb(24, 24, 24); /* Cor do track (WebKit) */
}