
/* -----------competencias----------------- */

.experiencia article {
    padding-top: 80px;
}

article .flex{
    display: flex;
    margin: 36px 0 140px;
}

article .title-soft {
    padding: 6px;
    margin: 0 auto;
    color:#EFF1EA;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

article .card {
    background-image: linear-gradient(-45deg, aquamarine, rgb(24, 24, 24)10%);
    width: 33.3%;
    height: 200px;
    margin: 20px 14px 14px;
    position: relative;
    padding: 4px;
}

.card-container {
    width: 300px;
    height: 300px;
    position: relative;
}


.card-txt {
width: 100%;
height: 100%;
border-radius: inherit;
overflow: hidden;
}

.card-txt .img-content {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background: rgb(24, 24, 24);
transition: scale 0.6s,filter 1s;
}

.card-txt .img-content h4 {
height: 50px;
transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-txt .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: aquamarine;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s ;
}
  
.card-txt .content .heading {
    font-size: 32px;
    font-weight: 700;
}

.card-txt:hover article .card  {
    background-image: none;
}

.card-txt:hover .content {
    opacity: 1;
    transition: opacity .14s all ease-in-out;
    transform: translateY(0);
}

.card-txt:hover .card__title {
    scale: 0.1;
    opacity: 0;
}



.card p {
    color: aquamarine;
    font-weight: bold;
}


.card__title {
    color: aquamarine;
    text-align: center;
    display: flex;
    align-items: center;
}

.flex__mobile nav {
    background-color:#000;  
    width: 50%; 
    border-radius: 0px 100px 100px 0px;
}

.flex__mobile ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 500px;
    flex-wrap: wrap;
    gap: 2;
    align-items: center;
    margin-left: auto;
    padding: 14px 36px 14px 0;
}


/* ----------------media screen ------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .flex-inicio {
        width: 100%;
    }

    article .flex {
        display: grid;
        justify-content: center;
        grid-template-columns: 90%;
        margin: 56px 0;
    }
    
    article .card {
        width: 100%;
        margin: 10px 0;
    }

}   

@media screen and (max-width: 767px) { 

    .flex-inicio {
        width: 100%;
    }

    article .flex {
        display: grid;
        justify-content: center;
        grid-template-columns: 90%;
        margin: 56px 0;
    }
    
    article .card {
        width: 100%;
        margin: 10px 0;
    }

}


  
























