* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sarabun', sem serifa;
}

p, li {
  font-size: 14px;
}

h3 {
  letter-spacing: 2px; /* Ajuste o valor conforme necessário */
}

body {
  background-color: #05070A;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-image: url(https://cdn.pixabay.com/photo/2020/11/20/05/45/artificial-intelligence-5760546_1280.jpg); 
}


main {
  border-top: none;
  margin: 0 auto;
  width: 1100px;
}

.container {
  background-color: rgb(0,0,0,0.8);   
  width: 1100px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0,0,0,0.8);
  margin: 0 auto ;
  padding: 10px 14px;
  position: relative;
}

header img {
  width: 80px;
}

header li {
  display: inline-block;
  padding: 0 14px;
}


.flex-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(to top,  rgba(0,0,0,0.1), rgba(0,0,0,0.0),);
  background-repeat: no-repeat;
}


.name-text {
  width: 80%;
  text-align: center;
}

.name-text {
  position: relative;
}

.name-text h1 {
  font-size: 58px;
  color: #EFF1EA;
}


.name-text p {
  color: #EFF1EA;
  margin: 30px 0 10px;
}

/*^^^^^ header e inicio ^^^^^^^*/



.img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 560px;
  margin: 0 auto 200px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 0 0 10px 40%;
}

.img__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 84%;
  padding: 2px;
  background-image: linear-gradient(40deg, aquamarine 14%, rgba(0,0,0,0.1)10%, rgba(0,0,0,0.1));
}


.area__perfil {
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.1);
  margin: 0;
  width: 100%;
  height: 100%;
}

.img .perfil {
  width: 140px;
}

.espaco {
  color: #EFF1EA;
  width: 450px;
}

.buttons-informacao {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.button__about {
  width: 150px;
  height: 35px;
  color: aquamarine;
  border: 1px solid aquamarine;
  margin-right: 10px;
  background-color: transparent;  
  text-align: center;
  border-radius: 30px;
  transition: background 0.3s;
  cursor: pointer;
}

.espaco .button__curriculo {
  width: 150px;
  height: 35px;
  color: rgb(24, 24, 24);
  background-color: aquamarine;
  position: relative;
  text-align: center;
  border-radius: 30px;
  transition: background 0.3s;
  cursor: pointer;
  border: none;
  overflow: hidden;
}

.button__curriculo .text {
  color: rgb(24, 24, 24);
  font-weight: bold;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: rgb(24, 24, 24);
}

.text {
  top: 0;
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: rgb(24, 24, 24);
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button__curriculo .icon {
  color: rgb(24, 24, 24);
}

.button__curriculo:hover .text {
  top: -100%;
}

.button__curriculo:hover .icon {
  border-radius: 0.45em;
  top: 0;
}

.espaco .border_bottom {
  border-bottom: 3px solid aquamarine;
  height: 10px;
  width: 80px;
  margin: 8px 0 22px;
}


.img .mini-footer {
  display: flex;
  position: absolute;
  border-radius: 0 0 14px 14px;
  width: 100%;
  bottom: 0;
  height: 40px;
}

.mini-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 8px auto;
}

.mini-footer svg {
  height: 24px;
  width: 24px;
  color: rgb(255, 255, 255);
  transition: transform ease 0.5s;
}

.mini-footer svg:hover {
  transform: scale(1.6);
}

/* ---------- card informações acima------------ animação li do header abaixo --------------- */
header li {
  cursor: pointer;
  position: relative;
  letter-spacing: 3px;
  color: #EFF1EA;
}

li .front-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px; /* Defina a altura do gradiente aqui */
  background-size: 0%;
  transition: all 0.5s;
}

header li:hover .front-text {
  background-size: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgb(0,0,0,0.1), aquamarine);
  border-radius: 30px;
}

/* ------------button cv abaixo------------ */
.button {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  color: #EFF1EA;
  background-color: #000000;
  position: relative;
  text-align: center;
  border-radius: 30px;
  transition: background 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #EFF1EA;
}

.text {
  top: 0;
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: aquamarine;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}


.button:hover .text {
  top: -100%;
}

.button:hover .icon {
/*   background-color: #f53e06;
 */  border-radius: 0.45em;
  top: 0;
}

/* ------------------------media screen-------------------- */


@media screen and (min-width: 768px) and (max-width: 1023px) {    
  
  header img {
    position: absolute;
    left: 0;
  }

  .container {
    width: 100%;
  }

  .name-text {
    width: 100%;
  }

  .name-text h1 {
    font-size: 46px;
  }

  .name-text p {
    font-size: 11px;
  }

  main {
    width: 90%;
    border: none;
  }



/* ///////////////////////////////////////////////////////////////// */
.img {
    width: 90%;
    height: 560px;
    box-shadow: none;
  } 

  .area__perfil {
    align-items: end;
    padding-bottom: 0;
  }

  p.text-sobre {
    border-radius: 14px 14px 44px 44px;
    width: 100%;
    height: 54%;
    left: 0;
    top: 0;
  }

  .mini-footer ul {
    width: 50%;
  } 

}

@media screen and (max-width: 767px) {    

  header {
    flex-direction: column;
    padding: 0;
    margin: 0;  
  }

  header img {
    position: absolute;
    left: 0;
    top: 10px;
  }

  header nav {
    padding-bottom: 0;
    width: 100%;
  }

  header ul {
    padding: 22px 0;
    margin-top: 88px;
  }
  
  header li {
    display: block;
    height: 42px;
    text-align: center;
  }
  
  header li:hover .front-text {
    background-image: none;
  }

  .container {
    width: 100%;
  }

  .name-text {
    width: 100%;
  }

  .name-text h1 {
    font-size: 46px;
  }

  .name-text p {
    font-size: 11px;
  }

  main {
    width: 100%;
    border: none;
  }
/* ///////////////////////////////////////////////////////////////// */

.img {
  
  border-radius: 0 0 0px 120px;
}
.area__perfil {
  flex-direction: column-reverse;
  align-items: start;
}

.espaco {
  width: 100%;

}

/*  about acima ^^^^^^^^^^^^^^^^^^^^^  */



}


/* ----------------- animação abaixo text sobre mim------------------ */

.onUp {
  -webkit-animation-name: onUp;
  animation-name: onUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes onUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  @keyframes onUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }

/* ------------ animação notbook-------------- */

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 